# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Log files
*.log

# vs files
*.sdf
*.filters
*.suo
*.pdb
*.opensdf

# linux files
.directory

# temp files
project/vs2013/tmp/
project/kdevelop/build/
bin/